# 📦 Paket bağımlılıkları
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# 🏗️ Build output klasörleri
dist/
build/
out/
.next/

# 🗑️ Log ve Debug dosyaları
/backend/backend/logs
/backend/backend/internal_logs

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tlog
*.pdb
*.sqlite
*.sql

# 📂 React ve React Native için (Expo'suz)
/mobile/Avs/metro-cache/
/mobile/Avs/coverage/
/mobile/Avs/index.android.bundle
/mobile/Avs/index.ios.bundle
/mobile/Avs/react-native-packager-cache-*/
*.env
*env.d.tsx

.cxx/

# 📂 C# / .NET için
bin/
obj/
*.suo
*.user
*.cache
*.vs/
.vscode/
.idea/
*.sln.cache
*.sln.iml
*.csproj.user
*.db
*.bak
**/Properties/launchSettings.json

# 🔧 User-specific & IDE files
*.swp
*.swo
.DS_Store
Thumbs.db
ehthumbs.db

# 🛠️ Test ve coverage dosyaları
jest/
coverage/
__tests__/
junit.xml

# 🚀 iOS ve Android için gereksiz dosyalar
mobile/Avs/ios/Pods/
mobile/Avs/ios/build/
mobile/Avs/ios/*.xcworkspace/
mobile/Avs/ios/DerivedData/
mobile/Avs/android/.gradle/
mobile/Avs/android/app/build/
mobile/Avs/android/app/src/debug/
mobile/Avs/android/app/src/release/
mobile/Avs/android/app/src/main/assets/index.android.bundle

# 🛳️ Docker dosyaları
.dockerignore
docker-compose.override.yml

# 🔧 Resharper ve JetBrains dosyaları
_ReSharper*/
*.DotSettings.user

# ESLint, TypeScript ve Test Dosyaları
.eslintrc.js
tsconfig.json
config
coverage/
jest/
__tests__/
.prettierrc.js
.watchmanconfig
app.json