<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="./internal_logs/internallog.txt">

  <!-- Genel Ayarlar -->
  <targets>
    <!-- Konsola loglama -->
    <!-- <target name="console" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" /> -->

    <!-- Dosyaya loglama -->
    <target name="logfile" xsi:type="File" fileName="..\..\..\logs\${shortdate}_logfile.txt" layout="${longdate} ${level:uppercase=true} ${message}" />
  </targets>

  <!-- Kayıt seviyeleri -->
  <rules>
    <!-- Konsola loglama: Debug ve üstü seviyelerde -->
    <!-- <logger name="*" minlevel="Debug" writeTo="console" /> -->

    <!-- Dosyaya loglama: Info ve üstü seviyelerde -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>

</nlog>